aws_region        = "us-east-1"
instance_type     = "m5.xlarge"
key_name          = "labari-prod"
domain_name       = "mailabari.com"
hosted_zone_id    = "Z0123456789ABCDEFGHIJ"
eip_allocation_id = "eipalloc-0123456789abcdef0"
